APP_NAME=Social Publisher
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/social-publisher
APP_TIMEZONE=Asia/Jakarta

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=social_publisher
DB_USER=root
DB_PASS=

SESSION_NAME=sp_session
CSRF_KEY=change_this_to_random_string

UPLOAD_DIR=uploads
MAX_UPLOAD_MB=100

META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=http://localhost/social-publisher/channels.php?provider=meta

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=http://localhost/social-publisher/channels.php?provider=tiktok
